#playingField {
  top:0px;
  /*margin-left:auto;*/
  /*margin-right:auto;*/
  display:block;
  width:600px;
}

#matchDiv {
  padding-top:51px;
  height:500px;
}

.match {
  position:relative;
}

#start-match-btn {
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius:0px;
  font-family:Arial;
  color:#0a8482;
  font-size:20px;
  background:#ffffff;
  padding:10px 20px 10px 20px;
  border:solid #ffffff 2px;
  top:-37px;
  left:30px;
  font-weight:500;
}

.bold-white {
  color:white;
  font-size:30px;
}

#timer {
  top:-34px;
  left:50px;
}

#start-match-btn: hover {
  text-decoration:none;
  background-color:#008080;
  color:white;
}

#image-div {
  top:10px;
  left:85px;
  width:600px;
}

#switch-back {
  position:absolute;
  top:195px;
  left:336px;
}

.event-button {
  /*border-radius:100px;*/
  font-family:Arial;
  color:#ffffff;
  font-size:20px;
  background:#e33b3b;
  /*padding:10px 20px 10px 20px;*/
  text-decoration:none;
  height:5px;
  width:10px;
}

#team-number {
  color:white;
  left:325px;
  top:80px;
  font-size:25px;
  position:absolute;
}

.relative {
  position:relative;
}

.alert-bold-white-text {
  font-size:29px;
  color:white;
}

#match-number {
  left:330px;
  top:115px;
  font-size:25px;
  position:absolute;
}

body {
  font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size:14px;
  line-height:1.42857143;
  color:#c8c8c8;
  background-color:#272b30;
  height:1500px;
  width:800px;
}

