#field-status-label {
  position:absolute;
  top:332px;
  left:58px;
}

#match-num-input {
  position:absolute;
  top:103px;
  left:274px;
  background-color:#076776;
  height:102px;
  border-radius:32px;
  width:196px;
  text-align:center;
  color:white;
  font-size:80px;
  border:hidden;
}

th, td {
  border-bottom:white;
}

#match-num-label {
  color:white;
  position:absolute;
  top:106px;
  left:34px;
  font-size:56px;
}

#thingy {
  background-image:none;
  background-color:transparent;
}

#field-body {
  margin:0;
  height:1150px;
  font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size:1rem;
  font-weight:400;
  line-height:1.5;
  color:#212529;
  text-align:left;
  background-color:#fff;
  width:800px;
}

#main-field-table {
  position:absolute;
  top:232px;
  font-size:30px;
  color:white;
  background-image:none;
  text-align:center;
  left:25px;
  width:800px;
  background-color:rgba(255,255,255,0);
}

#jk {
  background-image:none;
  width:67px;
  background-color:rgba(255,255,255,0);
}

#force-button-3 {
  position:relative;
  left:34px;
  background-image:none;
  width:48px;
  background-color:rgb(0,123,255);
  font-size:28px;
}

#key-text {
  position:absolute;
  top:562px;
  color:white;
  left:485px;
  font-size:16px;
  height:104px;
}

#force-button-2 {
  position:relative;
  background-color:rgb(0,123,255);
  background-image:none;
  left:17px;
  background-image:none;
  font-size:28px;
  width:48px;
}

#force-button-1 {
  font-size:28px;
  background-color:rgb(0,123,255);
  background-image:none;
  background-image:none;
  width:48px;
}

#force-button-1-r {
  background-image:none;
  font-size:28px;
  width:48px;
  background-color:red;
}

#force-button-2-r {
  font-size:28px;
  width:48px;
  background-image:none;
  background-color:red;
  position:relative;
  left:17px;
}

#force-button-3-r {
  font-size:28px;
  width:48px;
  background-color:red;
  background-image:none;
  position:relative;
  left:34px;
}

#boost-button-3-r {
  font-size:28px;
  width:48px;
  background-color:red;
  background-image:none;
  position:relative;
  left:34px;
}

#levitate-button-3-r {
  font-size:28px;
  width:48px;
  background-color:red;
  position:relative;
  background-image:none;
  left:34px;
}

#boost-button-2-r {
  font-size:28px;
  width:48px;
  background-color:red;
  position:relative;
  background-image:none;
  left:17px;
}

#levitate-button-2-r {
  font-size:28px;
  width:48px;
  background-image:none;
  background-color:red;
  position:relative;
  left:17px;
}

#boost-button-1-r {
  font-size:28px;
  width:48px;
  background-image:none;
  background-color:red;
}

#levitate-button-1-r {
  font-size:28px;
  width:48px;
  background-image:none;
  background-color:red;
  position:relative;
  left:15px;
}

#boost-button-1 {
  font-size:28px;
  background-color:rgb(0,123,255);
  background-image:none;
  width:48px;
}

#levitate-button-1 {
  font-size:28px;
  background-color:rgb(0,123,255);
  background-image:none;
  width:48px;
  position:relative;
  left:18px;
}

#boost-button-2 {
  position:relative;
  left:17px;
  background-color:rgb(0,123,255);
  font-size:28px;
  background-image:none;
  background-image:none;
  width:48px;
}

#levitate-button-2 {
  position:relative;
  background-image:none;
  left:17px;
  font-size:28px;
  width:48px;
  color:blue;
}

#boost-button-3 {
  position:relative;
  background-color:rgb(0,123,255);
  left:34px;
  width:48px;
  background-image:none;
  font-size:28px;
}

#levitate-button-3 {
  position:relative;
  left:34px;
  width:48px;
  font-size:28px;
}

#start-match {
  -moz-border-radius:0;
  border-radius:0px;
  font-family:Arial;
  color:#0a8482;
  font-size:24px;
  background:#ffffff;
  padding:10px 20px 10px 20px;
  border:solid #ffffff 2px;
  position:absolute;
  top:115px;
  left:507px;
  font-weight:500;
}

#field-timer {
  color:white;
  position:relative;
  top:104px;
  font-size:51px;
  left:733px;
}

#field-submit-btn {
  position:absolute;
  top:1084px;
  background-color:rgb(46,187,195);
  left:387px;
  font-size:30px;
  background-image:none;
}

#powerup-timer {
  color:white;
  position:absolute;
  top:538px;
  font-size:51px;
  left:63px;
}

#field-nav {
  width:1025px;
}

#field-field-image {
  position:absolute;
  top:695px;
  left:49px;
  width:800px;
}

#field-config-title {
  position:absolute;
  top:641px;
  left:50px;
  font-size:36px;
  color:white;
}

#switch-top-btn {
  position:absolute;
  background-image:none;
  top:738px;
  left:136px;
  background-color:red;
  font-size:39px;
  width:93px;
  height:70px;
}

#switch-bottom-btn {
  position:absolute;
  background-image:none;
  top:920px;
  left:136px;
  background-color:red;
  font-size:39px;
  width:93px;
  height:70px;
}

#scale-top-btn {
  position:absolute;
  background-image:none;
  top:707px;
  left:408px;
  background-color:red;
  font-size:39px;
  width:75px;
  height:67px;
}

#scale-bottom-btn {
  position:absolute;
  background-image:none;
  top:948px;
  left:408px;
  background-color:red;
  font-size:39px;
  width:75px;
  height:67px;
}

#switch-top-btn-2 {
  position:absolute;
  background-image:none;
  top:738px;
  left:662px;
  background-color:red;
  font-size:39px;
  width:93px;
  height:70px;
}

#switch-bottom-btn-2 {
  position:absolute;
  background-image:none;
  top:919px;
  left:662px;
  background-color:red;
  font-size:39px;
  width:93px;
  height:70px;
}

#position-label {
  position:absolute;
  top:1031px;
  left:306px;
  font-size:26px;
  color:white;
  font-weight:normal;
}

