#profile-matches-table {
  position:absolute;
  top:520px;
  left:7px;
}

#profile-event-dropdown {
  position:absolute;
  top:83px;
  width:187px;
  left:78px;
  background-color:#04a3a3;
  color:white;
  border-width:1px;
  border-color:white;
}

#profile-team-dropdown {
  position:absolute;
  top:83px;
  width:187px;
  left:280px;
  background-color:#04a3a3;
  color:white;
  border-width:1px;
  border-color:white;
}

#profile-team-label {
  top:148px;
  left:69px;
}

#profile-matches-label {
  top:157px;
  left:780px;
}

#profile-teleop-solo-climb {
  top:341px;
  left:343px;
}

#profile-teleop-defense {
  top:341px;
  left:613px;
}

#profile-teleop-no-show {
  top:475px;
  left:613px;
}

#profile-teleop-prioritize {
  top:367px;
  left:613px;
}

#profile-teleop-died {
  top:404px;
  left:613px;
}

#profile-teleop-connection-lost {
  top:427px;
  left:613px;
}

#profile-teleop-tipped-over {
  top:451px;
  left:613px;
}

#profile-teleop-buddy-climb-1 {
  top:361px;
  left:343px;
}

#profile-teleop-buddy-climb-2 {
  top:385px;
  left:343px;
}

#profile-teleop-climb-other-robot {
  top:408px;
  left:343px;
}

#profile-teleop-climb-other-robot-platform {
  top:429px;
  left:343px;
}

#profile-teleop-climb-label {
  top:341px;
  left:342px;
}

#profile-teleop-attempted-climb {
  top:433px;
  left:342px;
}

#profile-teleop-platform {
  top:456px;
  left:342px;
}

#profile-teleop-climb-none {
  top:480px;
  left:342px;
}

#profile-auto-detail {
  top:220px;
  left:69px;
}

#profile-auto-line {
  top:245px;
  left:69px;
}

#profile-no-auto-line {
  top:269px;
  left:69px;
}

#profile-auto-switch {
  top:247px;
  left:221px;
}

#profile-auto-scale {
  top:270px;
  left:221px;
}

#profile-auto-three {
  top:270px;
  left:360px;
}

#profile-auto-two {
  top:247px;
  left:360px;
}

#profile-auto-label {
  top:190px;
  left:69px;
}

#profile-teleop-label {
  top:305px;
  left:69px;
}

#profile-teleop-switch {
  top:349px;
  left:69px;
}

#profile-teleop-scale {
  top:374px;
  left:69px;
}

#profile-teleop-exchange {
  top:398px;
  left:69px;
}

#profile-teleop-ground {
  top:422px;
  left:69px;
}

#profile-teleop-portal {
  top:447px;
  left:69px;
}

#profile-teleop-missed {
  top:472px;
  left:69px;
}

.profile {
  position:absolute;
  background-color:rgba(255,255,255,0);
  color:white;
}

#profile-update-btn {
  position:absolute;
  border-color:white;
  left:489px;
  top:83px;
  width:172px;
  background-image:none;
  background-color:rgb(14,181,179);
}

