#profile-event-dropdown {
  position:absolute;
  top:83px;
  width:187px;
  left:78px;
  background-color:#04a3a3;
  color:white;
  border-width:1px;
  border-color:white;
}

#profile-team-dropdown {
  position:absolute;
  top:83px;
  width:187px;
  left:280px;
  background-color:#04a3a3;
  color:white;
  border-width:1px;
  border-color:white;
}

#profile-team-label {
  top:148px;
  left:69px;
}

#profile-auto-detail {
  top:220px;
  left:69px;
}

#profile-auto-line {
  top:245px;
  left:69px;
}

#profile-no-auto-line {
  top:269px;
  left:69px;
}

#profile-auto-switch {
  top:247px;
  left:221px;
}

#profile-auto-scale {
  top:270px;
  left:221px;
}

#profile-auto-three {
  top:270px;
  left:360px;
}

#profile-auto-two {
  top:247px;
  left:360px;
}

#profile-auto-label {
  top:190px;
  left:69px;
}

#profile-teleop-label {
  top:305px;
  left:69px;
}

.profile {
  position:absolute;
  background-color:rgba(255,255,255,0);
  color:white;
}

#profile-update-btn {
  position:absolute;
  border-color:white;
  left:489px;
  top:83px;
  width:172px;
  background-image:none;
  background-color:rgb(14,181,179);
}

