#replay-switch-cubes {
  position:absolute;
  top:439px;
  left:32px;
  background-image:none;
}

#replay-auto-line {
  position:absolute;
  top:439px;
  left:295px;
  background-image:none;
}

#replay-auto-scale {
  position:absolute;
  top:465px;
  left:295px;
  background-image:none;
}

#replay-notes {
  position:absolute;
  top:549px;
  left:305px;
  background-image:none;
}

#replay-climb {
  position:absolute;
  top:520px;
  left:295px;
  background-image:none;
}

#replay-auto-switch {
  position:absolute;
  top:492px;
  left:295px;
  background-image:none;
}

#replay-exchange-cubes {
  position:absolute;
  top:469px;
  left:32px;
  background-image:none;
}

#replay-scale-cubes {
  position:absolute;
  top:499px;
  left:32px;
  background-image:none;
}

#replay-portal-cubes {
  position:absolute;
  top:561px;
  left:32px;
  background-image:none;
}

#replay-missed-cubes {
  position:absolute;
  top:591px;
  left:32px;
  background-image:none;
}

#replay-ground-cubes {
  position:absolute;
  top:531px;
  left:32px;
  background-image:none;
}

#replay-field-img {
  position:absolute;
  top:0px;
  left:0px;
  width:600px;
}

#replay-field-div {
  position:absolute;
  top:147px;
  width:1000px;
  left:29px;
}

#replay-event-dropdown {
  position:absolute;
  top:83px;
  width:187px;
  left:57px;
  background-color:#04a3a3;
  color:white;
  border-width:1px;
  border-color:white;
}

#replay-team-dropdown {
  position:absolute;
  top:83px;
  width:187px;
  left:267px;
  background-color:#04a3a3;
  color:white;
  border-width:1px;
  border-color:white;
}

#replay-update-btn {
  position:absolute;
  border-color:white;
  left:690px;
  top:83px;
  width:90px;
  background-image:none;
  background-color:rgb(14,181,179);
}

#replay-match-dropdown {
  position:absolute;
  top:83px;
  width:187px;
  left:478px;
  background-color:#04a3a3;
  color:white;
  border-width:1px;
  border-color:white;
}

