#flip-btn {
  position:absolute;
  top:117px;
  background-image:none;
  width:192px;
  background-color:rgb(105,180,255);
  font-weight:800;
  left:773px;
  border-color:white;
}

#match-team-dropdown {
  position:absolute;
  top:65px;
  left:585px;
  width:167px;
  background-color:#008080;
  color:white;
  border-color:white;
}

#field-event-dropdown {
  position:absolute;
  top:189px;
  font-weight:600;
  left:508px;
  width:213px;
  background-color:#ffffff;
  color:rgb(10,132,130);
  border-color:white;
}

#match-event-dropdown {
  position:absolute;
  top:65px;
  left:367px;
  width:191px;
  background-color:#008080;
  color:white;
  border-color:white;
}

#match-position-dropdown {
  position:absolute;
  top:65px;
  left:772px;
  width:191px;
  background-color:#008080;
  color:white;
  border-color:white;
}

#match-color-dropdown {
  position:absolute;
  top:117px;
  left:772px;
  width:191px;
  background-color:#008080;
  color:white;
  border-color:white;
}

.match-dropdown {
  width:130px;
  text-align:left;
  text-indent:4px;
  font-weight:700;
  border-color:white;
}

#match-event-dropdown-btn {
  width:270px;
  text-align:left;
  text-indent:4px;
  font-weight:700;
  border-color:white;
}

#match-name-label {
  position:absolute;
  top:120px;
  left:39px;
}

#match-name-input {
  position:absolute;
  top:122px;
  left:116px;
  width:178px;
}

